<h1>Create Recipe<h1>
<form action="/recipes" method="post">
 <p><input type="text" name="name" placeholder="Recipe Name:"></p>
    <p><textarea name="ingredients" placeholder="Ingredients:"></textarea></p>
    <p><input type="text" name="cook_time" placeholder="Cook Time:"></p>
    <input type="submit" value="Submit">
</form>